---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
---

<Layout title="Extraescolares Landing Page">
  <main>
    <nav class="bg-black py-4 px-12 shadow-lg flex justify-between items-center">
      <div class='flex gap-3 text-3xl justify-center items-center'>
				<p class="text-lime-300 self-start text-4xl ">&andand;</p>
				<h1>Extraescolares</h1>
			</div>
      <ul class="flex text-xl gap-8">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <picture>
      <img class="w-full" src="https://picsum.photos/id/93/600/300" alt="" />
    </picture>
		<section class="grid grid-cols-4 gap-3 p-3">
			<Card id='41' title='and-and' icon='&andand;'/>
			<Card id='42' title='porcentaje' icon='%'/>
			<Card id='43' title='hashtag' icon='#'/>
			<Card id='44' title='arroba' icon='@'/>
			<Card id='45' title='ampersand' icon='&'/>
			<Card id='46' title='igual' icon='='/>
			<Card id='47' title='interrogación' icon='?'/>
			<Card id='48' title='question' icon='¿'/>
			<Card id='49' title='admiración' icon='¡'/>
			<Card id='50' title='sorpresa' icon='!'/>
			<Card id='52' title='euro' icon='€'/>
			<Card id='53' title='caudata' icon='ç'/>
		</section>
  </main>
</Layout>
