---
import Layout from '../layouts/Layout.astro';
import CardsList from '../components/CardsList.astro'
---

<Layout title="Extraescolares Landing Page">
  <main>
    <nav class="bg-black py-4 px-12 shadow-lg flex justify-between items-center">
      <div class='flex gap-3 text-3xl justify-center items-center'>
				<p class="text-lime-300 self-start text-4xl ">&andand;</p>
				<h1>Extraescolares</h1>
			</div>
      <ul class="flex text-xl gap-8">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <picture>
      <img class="w-full" src="https://picsum.photos/id/93/600/300" alt="" />
    </picture>
		<CardsList />
    <section class='py-24 text-center'>
      <section class='py-24 text-center'>
      <h2 class='text-4xl font-semibold uppercase'>Subscription Prices</h2>
      <h3 class='py-3 font-light tracking-wider uppercase'>Exclusive Training Packages</h3>
      <div class='grid grid-cols-3 gap-12 py-14 p-20'>
        <article class='aspect-[9/14] border border-zinc-50 rounded-lg overflow-hidden shadow-xl shadow-zinc-800 flex gap-4 flex-col justify-between'>
          <img src="https://picsum.photos/seed/1035/350/200" alt="">
          <div class='flex flex-col gap-5 p-6'>
            <h3 class='text-xl font-bold'>SWIMMING COACH</h3>
            <h4 class='font-bold'>Training Center</h4>
            <p class='text-xs'>Aenean tempor tincidunt diam ut pretium. Nulla elementum rhoncus ante.</p>
          </div>
          <dir class='grid grid-cols-3 m-0 p-0'>
            <p class='flex justify-center items-center text-xs h-10 border border-zinc-50'>$ 999</p>
            <p class='flex justify-center items-center text-xs h-10 border border-zinc-50'>&bigstar; 200 Days</p>
            <p class='flex justify-center items-center text-xs h-10 border border-zinc-50 hover:cursor-pointer '>&rarr;</p>
          </dir>
        </article>
        <article class='aspect-[9/14] border border-zinc-50 rounded-lg overflow-hidden shadow-xl shadow-zinc-800 flex gap-4 flex-col justify-between'>
          <img src="https://picsum.photos/id/1038/350/200" alt="">
          <div class='flex flex-col gap-5 p-6'>
            <h3 class='text-xl font-bold'>SWIMMING COACH</h3>
            <h4 class='font-bold'>Training Center</h4>
            <p class='text-xs'>Aenean tempor tincidunt diam ut pretium. Nulla elementum rhoncus ante.</p>
          </div>
          <dir class='grid grid-cols-3 m-0 p-0'>
            <p class='flex justify-center items-center text-xs h-10 border border-zinc-50'>$ 999</p>
            <p class='flex justify-center items-center text-xs h-10 border border-zinc-50'>&bigstar; 200 Days</p>
            <p class='flex justify-center items-center text-xs h-10 border border-zinc-50 hover:cursor-pointer '>&rarr;</p>
          </dir>
        </article>
        <article class='aspect-[9/14] border border-zinc-50 rounded-lg overflow-hidden shadow-xl shadow-zinc-800 flex gap-4 flex-col justify-between'>
          <img src="https://picsum.photos/id/1036/350/200" alt="">
          <div class='flex flex-col gap-5 p-6'>
            <h3 class='text-xl font-bold'>SWIMMING COACH</h3>
            <h4 class='font-bold'>Training Center</h4>
            <p class='text-xs'>Aenean tempor tincidunt diam ut pretium. Nulla elementum rhoncus ante.</p>
          </div>
          <dir class='grid grid-cols-3 m-0 p-0'>
            <p class='flex justify-center items-center text-xs h-10 border border-zinc-50'>$ 999</p>
            <p class='flex justify-center items-center text-xs h-10 border border-zinc-50'>&bigstar; 200 Days</p>
            <p class='flex justify-center items-center text-xs h-10 border border-zinc-50 hover:cursor-pointer '>&rarr;</p>
          </dir>
        </article>
      </div>
    </section>
  </main>
</Layout>
